<div class="rails-form">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "col-md-4" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: "Email",
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send it 2 me!" %>
    </div>
  <% end %>

  <div class="corner">
    <%= image_tag 'signatureLogoB.svg' %>
    <div class="link"><%= render "devise/shared/links" %></div>
  </div>
</div>
